__pycache__/
*.log
*.pkl
*.pt
*.sh
*.env
*.jpg
*.png
*.jpeg
*.csv
old_checkpoints/
data/
.vscode/
checkpoints/

logParser.py
compileResults.py
autoCalibrator.py
plotresults.py

!plot_landscape.png
!plot_loss_impact.png
!plot_method_comparison.png